@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
@keyframes blink_red {
    to {
        background-color: rgb(242, 143, 173);
        color: rgb(26, 24, 38);
    }
}
.warning, .critical, .urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
window#waybar {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}
#pulseaudio:hover {
    background-color: @surface2;
}
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}


#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @lavender;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    /* background-color: @lavender; */
    color: @mauve;
}

#mode, #clock, #memory, #temperature,#cpu, #temperature, #backlight, #pulseaudio, #network, #bluetooth {
    padding: 0 10px;
}
#memory {
    color: #8EBBBA;
}
#cpu {
    color: #B38DAC;
}
#clock {
    color: @flamingo;
}
#temperature {
    color: #80A0C0;
}
#backlight {
    color: #A2BD8B;
}
#pulseaudio {
    color: @maroon;
}
#network {
    color: @yellow;
}

#bluetooth {
    color: @blue;
}

#window {
    color: @rosewater;
}

#network.disconnected {
    color: #CCCCCC;
}
.modules-right,.modules-left,.modules-center {
    background-color: @base;
    border-radius: 15px;
}
.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 10px;
}

.modules-center {
    padding: 0 10px;
}


