window-rule {
    match app-id="^com\\.mitchellh\\.ghostty$"
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="^emacs$"
    background-effect {
        blur true
        xray false
    }
}
